In [1]:
from collections import Counter
import pandas as pd
import numpy as np
from config import *
data_path = "G:/OneDrive - teleworm/code/4research/python/projects/imbalanced/datasets/cs-train/cs-train.csv"
train_df = data_loader.load_csv_to_pandas(data_path)

In [2]:
train_df.isna().sum()

label                                       0
RevolvingUtilizationOfUnsecuredLines        0
age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           29731
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       3924
dtype: int64

In [3]:
# train_df["MonthlyIncome"].isna()

# train_df[train_df["MonthlyIncome"].isna()][train_df["NumberOfDependents"].isna()].shape

In [4]:
train_df[~train_df["MonthlyIncome"].isna()].describe()

,label,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,120269.000000,120269.000000,120269.000000,120269.000000,120269.000000,1.202690e+05,120269.000000,120269.000000,120269.000000,120269.000000,120269.000000
mean,0.930514,5.899873,51.289792,0.381769,26.598777,6.670221e+03,8.758475,0.211925,1.054519,0.187829,0.851832
std,0.254280,257.040685,14.426684,3.499234,424.446457,1.438467e+04,5.172835,3.465276,1.149273,3.447901,1.148391
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.035084,40.000000,0.000000,0.143388,3.400000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.177282,51.000000,0.000000,0.296023,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,1.000000,0.579428,61.000000,0.000000,0.482559,8.249000e+03,11.000000,0.000000,2.000000,0.000000,2.000000
max,1.000000,50708.000000,103.000000,98.000000,61106.500000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000

In [5]:
train_df[train_df["MonthlyIncome"].isna()].describe()

,label,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,29731.000000,29731.000000,29731.000000,29731.000000,29731.000000,0.0,29731.000000,29731.000000,29731.000000,29731.000000,25807.000000
mean,0.943863,6.649421,56.362349,0.579866,1673.396556,NaN,7.216071,0.484612,0.871481,0.452995,0.316310
std,0.230189,217.814854,15.438786,6.255361,4248.372895,NaN,4.842720,6.250408,1.034291,6.242076,0.809944
min,0.000000,0.000000,21.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.016027,46.000000,0.000000,123.000000,NaN,4.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.081697,57.000000,0.000000,1159.000000,NaN,6.000000,0.000000,1.000000,0.000000,0.000000
75%,1.000000,0.440549,67.000000,0.000000,2382.000000,NaN,10.000000,0.000000,1.000000,0.000000,0.000000
max,1.000000,22198.000000,109.000000,98.000000,329664.000000,NaN,45.000000,98.000000,23.000000,98.000000,9.000000

In [6]:
train_df[train_df['age'] > 60]

,label,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
5,1,0.213179,74,0,0.375607,3500.0,3,0,1,0,1.0
14,1,0.019657,76,0,477.000000,0.0,6,0,1,0,0.0
15,1,0.548458,64,0,0.209892,11362.0,7,0,1,0,2.0
16,1,0.061086,78,0,2058.000000,NaN,10,0,2,0,0.0
27,1,0.034421,69,0,0.042383,2500.0,17,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
149983,1,0.002485,82,0,0.000800,5000.0,5,0,0,0,0.0
149984,1,0.037548,84,0,25.000000,NaN,5,0,0,0,0.0
149989,1,0.013356,62,0,0.001408,9233.0,4,0,0,0,3.0
149995,1,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149999,1,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

In [12]:
args = {"methods": "min-max", "columns": ["A"]}
def test_func(data, **kwargs):
    keys = kwargs.keys()
    value = kwargs.values()
    print(keys)
    print(value)
# print(**args)
test_func("hello",**args)

dict_keys(['methods', 'columns'])
dict_values(['min-max', ['A']])